.A{
    color:rgb(12, 0, 0);
    width:80px;
    height: 50px;
    font-size: large;
}
.B{
    font-weight: bolder;
}
.C {
    list-style-type: none;
    padding: 0;
    color: red;
  }
  
  .C li {
    margin-bottom: 5px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;
  }
  .position-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .grid-center {
    display: grid;
    place-items: center;
  }
  
  